ul {
  list-style: none;
}
.boxQuestion {
  display: flex;
}
.boxAnswers {
  ul li {
    display: flex;
    align-items: center;
  }
}
.boxButton {
  text-align: center;
  .btnProcess {
    //background-color: ;
  }
}


