.subBar {
    border-radius: 6px;
    align-items: center;
    background-color: #e0e0e0;
    margin-bottom: 30px !important;
    h4 {
        margin: 0;
    }
    .boxRight {
        text-align: right;
    }
}